* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #e9e9ed;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

main {
  background-color: white;
  margin: 10px 0;
}

footer {
  background-color: #e9e9ed;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

footer p {
  font-size: 1rem;
}

#root {
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 100%;
}

.nav-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav ul button {
  font-size: 1rem;
  width: 6rem;
  border: none;
  height: 100%;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 5px;
}

.product {
  background-color: #cccccc;
  width: 13rem;
}

.clickable-container {
  position: relative;
  display: block;
}

.delete-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-information p {
  margin: 0.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-row {
  display: flex;
  gap: 7rem;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.form-row.description {
  margin-top: 0;
  font-size: 0.85rem;
}

.form-error p {
  text-align: center;
  color: red;
}

.container {
  display: flex;
  justify-content: center;
}

.required {
  color: red;
}
